################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ass5.vcxproj.user
a.exe
/x64/Debug
